body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  width: 41rem;
  height: 41rem;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.square {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  text-align:center;
  font-size: 50px;
}

.square:hover {
  background-color: lightgray;
}

#restart {
  text-align: center;
  font-size: 50px;
}